<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Robin Means" />
    <link href="/favicon.png" rel="icon">
    <link rel="stylesheet" href="/static/css/main.css" />
</head>
<body>

<div class="site">
  <div id="header">
    <a href="/"><img src="/static/images/logo.png" class="logo"/></a>
  </div>

  <div id="content">
    {{ content }}
  </div>

  <footer>
    <div class="footer">
      <div class="contact">
        <p>Robin Means</p>
      </div>
      <div class="contact">
        <p><a href="/archives.html">Archives</a></p>
      </div>
      <div class="rss">
        <img src="/static/images/rss.png" alt="Subscribe to RSS Feed" />
      </div>
    </div>
  </footer>
</div>
</body>
</html>
